$primaryColor: #81c784;
$primaryLightestColor: #e8f5e9;
$primaryTextColor: #212121;
$accentColor: #c781c4;
$accentTextColor: #212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
