$primaryColor: #8bc34a;
$primaryLightestColor: #f1f8e9;
$primaryMenuTextColor: #33691e;
$primaryTextColor: #212121;
$accentColor: #824ac3;
$accentTextColor: #ffffff;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
