$primaryColor: #4db6ac;
$primaryLightestColor: #e0f2f1;
$primaryTextColor: #212121;
$accentColor: #b64d57;
$accentTextColor: #212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
