$primaryColor: #9fa8da;
$primaryLightestColor: #e8eaf6;
$primaryMenuTextColor: #212121;
$primaryTextColor: #121212;
$accentColor: #f48fb1;
$accentTextColor: #121212;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
