$primaryColor: #4caf50;
$primaryLightestColor: #e8f5e9;
$primaryMenuTextColor: #2e7d32;
$primaryTextColor: #ffffff;
$accentColor: #af4cac;
$accentTextColor: #ffffff;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
