$primaryColor: #4fc3f7;
$primaryLightestColor: #e1f5fe;
$primaryTextColor: #212121;
$accentColor: #f7844f;
$accentTextColor: #212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
