$primaryColor: #ff5722;
$primaryLightestColor: #fbe9e7;
$primaryMenuTextColor: #bf360c;
$primaryTextColor: #ffffff;
$accentColor: #22cbff;
$accentTextColor: #212121;

@import '../_variables';
@import '../../_compact';
@import '../../theme-base/_components';
@import '../../extensions/_vendor_extensions';
